@using Microsoft.AspNetCore.Identity
@using OhSnip.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dashboard";
}

<script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("openButton").style.visibility = "hidden";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("openButton").style.visibility = "visible";
    }
</script>


<nav id="mySidenav" class="sidenav">
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#" id="allSnippets">All Snippets</a>
    <a href="#" class="language" name="C">C</a>
    <a href="#" class="language" name="C\#">C#</a>
    <a href="#" class="language" name="C++">C++</a>
    <a href="#" class="language" name="CSS">CSS</a>
    <a href="#" class="language" name="Haskell">Haskell</a>
    <a href="#" class="language" name="HTML">HTML</a>
    <a href="#" class="language" name="Java">Java</a>
    <a href="#" class="language" name="JavaScript">JavaScript</a>
    <a href="#" class="language" name="JavaScript React">JavaScript React</a>
    <a href="#" class="language" name="JSON">JSON</a>
    <a href="#" class="language" name="Markdown">Markdown</a>
    <a href="#" class="language" name="PHP">PHP</a>
    <a href="#" class="language" name="Plain Text">Plain Text</a>
    <a href="#" class="language" name="Python">Python</a>
    <a href="#" class="language" name="R">R</a>
    <a href="#" class="language" name="Razor">Razor</a>
    <a href="#" class="language" name="Ruby">Ruby</a>
    <a href="#" class="language" name="SQL">SQL</a>
    <a href="#" class="language" name="Swift">Swift</a>
    <a href="#" class="language" name="Typescript">Typescript</a>
    <a href="#" class="language" name="Visual Basic">Visual Basic</a>
    <a href="#" class="language" name="XML">XML</a>
</nav>

<span id="openButton" onclick="openNav()">Choose Language</span>
<div id="main" class="main">
    <h2>Welcome!</h2>

    <form asp-controller="Snippet" asp-action="Search" method="post">
        <div class="input-group col-xs-12 col-md-6">
            <input type="text" class="form-control" name="searchString" placeholder="Search" />
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i> 
                </button>
            </div>
        </div>
    </form>
    <a class="button" type="button" href="/AddSnippet">New Snippet</a>

    @if (ViewBag.allsnippets != null)
    {
        foreach (var snip in @ViewBag.allsnippets)
        {
            if (snip.ApplicationUserId == UserManager.GetUserId(User))
            {
                <div class="snippet @snip.Language">
                    <h3 class="clicker">@snip.Title</h3>
                    <p>@snip.Description</p>
                    <div class="hidetoggle">
                        <p class="code">@snip.Code</p>
                        <a class="button" type="button" href="/EditSnippet/@snip.SnippetId">Edit</a>
                        <a type="button" class="button" href="/DeleteSnippet/@snip.SnippetId">Delete</a>
                    </div>
                </div>
            }
        }
    }
    else if (ViewBag.searchsnippets != null)
    {
        foreach (var snip in ViewBag.searchsnippets)
        {
            if (snip.ApplicationUserId == UserManager.GetUserId(User))
            {
                <div class="snippet @snip.Language">
                    <h3 class="clicker">@snip.Title</h3>
                    <p>@snip.Description</p>
                    <div class="hidetoggle">
                        <p class="code">@snip.Code</p>
                        <a class="button" type="button" href="/EditSnippet/@snip.SnippetId">Edit</a>
                        <a type="button" class="button" href="/DeleteSnippet/@snip.SnippetId">Delete</a>
                    </div>
                </div>
            }
        }
    }

</div>

<script>
    $("div.hidetoggle").hide();
    $('h3.clicker').each(function () {
        $(this).click(function () {
            $(this).siblings('div.hidetoggle').toggle("slow");
            console.log("hello!")
        });
    });
    $('.language').click(function () {
        var lang = $(this).attr("name");
        $('.snippet').hide();
        $('.' + lang).show();
    });
    $('#allSnippets').click(function () {
        $('.snippet').show();
    });
</script>